@model TodoMVC.Application.ViewModels.TodoItemVm
@{
    ViewData["Title"] = "EditItem";
}

<h1>EditItem</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Task" class="control-label"></label>
                <input asp-for="Task" value="@Model.Task" class="form-control" />
                <span asp-validation-for="Task" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" value="@Model.Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" value="@Model.DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="TodoListId" value="@Model.TodoListId" />
            <input type="hidden" asp-for="TodoListName" value="@Model.TodoListName" />


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListDetails" asp-route-id="@Model.TodoListId">Back to List</a>
</div>

